<%= simple_form_for(@card) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name, :input_html => {:maxlength =>2,:style=> 'width: 250px'}%>
    <%= f.input :color, :input_html => {:maxlength =>2,:style=> 'width: 250px'}%>
    <%= f.input :cost,  :input_html => {:maxlength =>2,:style=> 'width: 100px'}%>
    <%= f.input :power, :input_html => {:maxlength =>2,:style=> 'width: 50px'}%>
    <%= f.input :toughness, :input_html => {:maxlength =>2,:style=> 'width: 50px'}%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
